.scrollbar-x-hidden {
    overflow-x: hidden;
}

.scrollbar-x-hidden {
    background-color: #ffffff;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.scrollbar-x-hidden::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    background-color: #a4a2a2;
}

.scrollbar-x-hidden::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
}

#slider {
    height: 5px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
}

#slider .noUi-origin {
    margin-top:  -2px;
}

#slider .noUi-connect {
    background-color: #2d2d2d;
}

#slider .noUi-handle::before,
#slider .noUi-handle::after {
    content: none;
}

#slider .noUi-handle {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #2d2d2d;
    box-shadow: none;
    border-radius: 100%;
}